@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  background-image: url(./rain_bk2.png);
}

h1, h2, h3, p {
  margin: 0;
}
